*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  text-align: center;
  margin: auto;
  width: 100%;
  height: auto;
  float: left;
}

.container {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 20px auto;
}

.container h1 {
    text-align: center;
    padding: 10px;
}

div {
  font-size: 150%;
  text-transform: capitalize;
  font-family: serif;
  font-weight: 400;
  width: 100%;
}

@media (min-width: 600px) {
  .preview {
    padding: 1px;
    width: 50%;
    float: left;
  }
}

@media (min-width: 900px) {
  .preview {
    padding: 1px;
    width: 25%;
    float: left;
  }
}

.preview {
  padding: auto;
  width: 100%;
}

.preview-baku {
  background-image: url("images/baku.jpg") no-repeat left;
  background-size: cover;
  margin: 10px 0 10px 0;

.preview-baku h1 {
  text-align: left;
}

.preview-london {
  background-image: url("images/london.png") no-repeat right;
  background-size: cover;
  height: 300px;
  margin: 10px 0 10px 0;
}

.preview-london h1 {
  text-align: left;
}

.preview-madrid {
  background-image: url("images/madrid.jpg") no-repeat left;
  height: 265px;
  margin: 10px 0 10px 0;
}

.preview-madrid h1 {
  text-align: left;
}

.preview-rome {
  background-image: url("images/rome.jpg") no-repeat left;
  background-size: cover;
  height: 275px;
  margin: 10px 0 10px 0;
}

.preview-rome h1 {
  text-align: left;
}
