*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: 0px auto;
}

.preview h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
}

.preview {
  padding: auto;
  width: 100%;
  background-size: cover;
  background-position: left;
  height: 300px;
  margin: 2em 0;
}

.baku {
  background: url("../images/baku.jpg");
}

.london {
  background: url("../images/london.png");
}

.madrid {
  background: url("../images/madrid.jpg");
}


.rome {
  background: url("../images/rome.jpg");
}

@media screen and (min-width: 575px) {
  .container {
    width: 80%;
  }
  .preview {
    float: left;
    margin: 1%;
    width: 48%;
    height: 200px;
  }
}

@media screen and (min-width: 991px) {
  .container {
    width: 80%;
  }
  .preview {
    padding: 1%;
    width: 23%;
    float: left;
    height: 200px;
  }
}
